<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel compromisofuncional view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN idTipoAcuerdo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_idTipoAcuerdo}  r-vertical-field" data-fieldname="idTipoAcuerdo" data-signal-error-for="idTipoAcuerdo{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="idTipoAcuerdo" data-fieldname="idTipoAcuerdo" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_idTipoAcuerdo}">
		
		{BEGIN idTipoAcuerdo_label}{$label compromisofuncional idTipoAcuerdo }{END idTipoAcuerdo_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$idTipoAcuerdo_value}	</div>

		
</div>


{END idTipoAcuerdo_fieldblock}
											
{BEGIN NomAcuerdo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_NomAcuerdo}  r-vertical-field" data-fieldname="NomAcuerdo" data-signal-error-for="NomAcuerdo{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="NomAcuerdo" data-fieldname="NomAcuerdo" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_NomAcuerdo}">
		
		{BEGIN NomAcuerdo_label}{$label compromisofuncional NomAcuerdo }{END NomAcuerdo_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$NomAcuerdo_value}	</div>

		
</div>


{END NomAcuerdo_fieldblock}
											
{BEGIN compromisoFuncional_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_compromisoFuncional}  r-vertical-field" data-fieldname="compromisoFuncional" data-signal-error-for="compromisoFuncional{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="compromisoFuncional" data-fieldname="compromisoFuncional" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_compromisoFuncional}">
		
		{BEGIN compromisoFuncional_label}{$label compromisofuncional compromisoFuncional }{END compromisoFuncional_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$compromisoFuncional_value}	</div>

		
</div>


{END compromisoFuncional_fieldblock}
											
{BEGIN evidencia_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_evidencia}  r-vertical-field" data-fieldname="evidencia" data-signal-error-for="evidencia{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="evidencia" data-fieldname="evidencia" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_evidencia}">
		
		{BEGIN evidencia_label}{$label compromisofuncional evidencia }{END evidencia_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$evidencia_value}	</div>

		
</div>


{END evidencia_fieldblock}
											
{BEGIN valorAcordado_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_valorAcordado}  r-vertical-field" data-fieldname="valorAcordado" data-signal-error-for="valorAcordado{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="valorAcordado" data-fieldname="valorAcordado" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_valorAcordado}">
		
		{BEGIN valorAcordado_label}{$label compromisofuncional valorAcordado }{END valorAcordado_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$valorAcordado_value}	</div>

		
</div>


{END valorAcordado_fieldblock}
											
{BEGIN CFunEstado_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_CFunEstado}  r-vertical-field" data-fieldname="CFunEstado" data-signal-error-for="CFunEstado{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="CFunEstado" data-fieldname="CFunEstado" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_CFunEstado}">
		
		{BEGIN CFunEstado_label}{$label compromisofuncional CFunEstado }{END CFunEstado_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$CFunEstado_value}	</div>

		
</div>


{END CFunEstado_fieldblock}
											
{BEGIN idEvaluacion_FK_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_idEvaluacion_FK}  r-vertical-field" data-fieldname="idEvaluacion_FK" data-signal-error-for="idEvaluacion_FK{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="idEvaluacion_FK" data-fieldname="idEvaluacion_FK" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_idEvaluacion_FK}">
		
		{BEGIN idEvaluacion_FK_label}{$label compromisofuncional idEvaluacion_FK }{END idEvaluacion_FK_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$idEvaluacion_FK_value}	</div>

		
</div>


{END idEvaluacion_FK_fieldblock}
											
{BEGIN Valorpendiente_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Valorpendiente}  r-vertical-field" data-fieldname="Valorpendiente" data-signal-error-for="Valorpendiente{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="Valorpendiente" data-fieldname="Valorpendiente" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Valorpendiente}">
		
		{BEGIN Valorpendiente_label}{$label compromisofuncional Valorpendiente }{END Valorpendiente_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Valorpendiente_value}	</div>

		
</div>


{END Valorpendiente_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="compromisofuncional_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Editar		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
