<div class="panel panel-primary">
		<div class="panel-heading">
						{BEGIN top_block}
<div class="panel-title r-panel-top row" data-location="top" id="form_top_{$pageid}" data-makeup="panel-only" {$form_top} data-pageid="{$pageid}" >		
	 
		 
			<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h3 class="panel-title" data-itemtype="masterprint_header" data-itemid="masterprint_header" {$item_masterprint_header} data-pageid="{$pageid}" >{$pagetitlelabel evaluacion_p masterprint}</h3>
		</div>			</div>		
{END top_block}
			</div>
		<div class="panel-body">
							{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="panel-only" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
				{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
								{BEGIN grid_block}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}<table data-location="grid" id="form_grid_{$pageid}" data-makeup="panel-only" {$form_grid} data-pageid="{$pageid}" class=" table table-hover table-bordered r-horizontal-grid  rnr-b-grid rnr-gridtable"
	cellpadding="0"
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
			
																									<tr {$rowattrs} {$row_grid_0} class="{$rowclass}
									{$gridHeader_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluacion_p_id_class}	"

			data-field="evaluacion_p_id"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluacion_p_id_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field30" {$item_simple_grid_field30} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluacion_p_id" data-fieldname="evaluacion_p_id" 

	
	
	>
	<span class="text-label">
		<span>{$label evaluacion_p evaluacion_p_id }</span>
			</span>
	</span>
{END evaluacion_p_id_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
									{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluacion_id_fk_class}	"

			data-field="evaluacion_id_fk"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluacion_id_fk_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field31" {$item_simple_grid_field31} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluacion_id_fk" data-fieldname="evaluacion_id_fk" 

	
	
	>
	<span class="text-label">
		<span>{$label evaluacion_p evaluacion_id_fk }</span>
			</span>
	</span>
{END evaluacion_id_fk_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
									{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$idEvaluado_class}	"

			data-field="idEvaluado"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN idEvaluado_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field32" {$item_simple_grid_field32} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="idEvaluado" data-fieldname="idEvaluado" 

	
	
	>
	<span class="text-label">
		<span>{$label evaluacion_p idEvaluado }</span>
			</span>
	</span>
{END idEvaluado_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
									{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$idEvaluador_class}	"

			data-field="idEvaluador"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN idEvaluador_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field33" {$item_simple_grid_field33} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="idEvaluador" data-fieldname="idEvaluador" 

	
	
	>
	<span class="text-label">
		<span>{$label evaluacion_p idEvaluador }</span>
			</span>
	</span>
{END idEvaluador_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
									{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$IdEvaluador_c_class}	"

			data-field="IdEvaluador_c"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN IdEvaluador_c_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field34" {$item_simple_grid_field34} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="IdEvaluador_c" data-fieldname="IdEvaluador_c" 

	
	
	>
	<span class="text-label">
		<span>{$label evaluacion_p IdEvaluador_c }</span>
			</span>
	</span>
{END IdEvaluador_c_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
									{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$IdEvaluador_d_class}	"

			data-field="IdEvaluador_d"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN IdEvaluador_d_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field35" {$item_simple_grid_field35} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="IdEvaluador_d" data-fieldname="IdEvaluador_d" 

	
	
	>
	<span class="text-label">
		<span>{$label evaluacion_p IdEvaluador_d }</span>
			</span>
	</span>
{END IdEvaluador_d_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
									{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$vigencia_class}	"

			data-field="vigencia"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN vigencia_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field36" {$item_simple_grid_field36} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="vigencia" data-fieldname="vigencia" 

	
	
	>
	<span class="text-label">
		<span>{$label evaluacion_p vigencia }</span>
			</span>
	</span>
{END vigencia_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
									{BEGIN cellblock_grid_headcell_field7}
	<th
	
	{$cell_grid_headcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$periodo_class}	"

			data-field="periodo"
	
	data-cellId="grid_headcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN periodo_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field37" {$item_simple_grid_field37} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="periodo" data-fieldname="periodo" 

	
	
	>
	<span class="text-label">
		<span>{$label evaluacion_p periodo }</span>
			</span>
	</span>
{END periodo_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field7}
									{BEGIN cellblock_grid_headcell_field8}
	<th
	
	{$cell_grid_headcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$fchCreacion_class}	"

			data-field="fchCreacion"
	
	data-cellId="grid_headcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN fchCreacion_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field38" {$item_simple_grid_field38} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="fchCreacion" data-fieldname="fchCreacion" 

	
	
	>
	<span class="text-label">
		<span>{$label evaluacion_p fchCreacion }</span>
			</span>
	</span>
{END fchCreacion_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field8}
									{BEGIN cellblock_grid_headcell_field9}
	<th
	
	{$cell_grid_headcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$id_eval_vigencia_fk_class}	"

			data-field="id_eval_vigencia_fk"
	
	data-cellId="grid_headcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN id_eval_vigencia_fk_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field39" {$item_simple_grid_field39} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="id_eval_vigencia_fk" data-fieldname="id_eval_vigencia_fk" 

	
	
	>
	<span class="text-label">
		<span>{$label evaluacion_p id_eval_vigencia_fk }</span>
			</span>
	</span>
{END id_eval_vigencia_fk_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field9}
									{BEGIN cellblock_grid_headcell_field10}
	<th
	
	{$cell_grid_headcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$fecha_po_i_class}	"

			data-field="fecha_po_i"
	
	data-cellId="grid_headcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN fecha_po_i_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field40" {$item_simple_grid_field40} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="fecha_po_i" data-fieldname="fecha_po_i" 

	
	
	>
	<span class="text-label">
		<span>{$label evaluacion_p fecha_po_i }</span>
			</span>
	</span>
{END fecha_po_i_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field10}
									{BEGIN cellblock_grid_headcell_field11}
	<th
	
	{$cell_grid_headcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$fecha_po_f_class}	"

			data-field="fecha_po_f"
	
	data-cellId="grid_headcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN fecha_po_f_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field41" {$item_simple_grid_field41} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="fecha_po_f" data-fieldname="fecha_po_f" 

	
	
	>
	<span class="text-label">
		<span>{$label evaluacion_p fecha_po_f }</span>
			</span>
	</span>
{END fecha_po_f_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field11}
									{BEGIN cellblock_grid_headcell_field12}
	<th
	
	{$cell_grid_headcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert		 {$estado_class}	"

			data-field="estado"
	
	data-cellId="grid_headcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN estado_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field42" {$item_simple_grid_field42} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="estado" data-fieldname="estado" 

	
	
	>
	<span class="text-label">
		<span>{$label evaluacion_p estado }</span>
			</span>
	</span>
{END estado_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field12}
									{BEGIN cellblock_grid_headcell_field13}
	<th
	
	{$cell_grid_headcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sys_user_class}	"

			data-field="sys_user"
	
	data-cellId="grid_headcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sys_user_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field43" {$item_simple_grid_field43} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sys_user" data-fieldname="sys_user" 

	
	
	>
	<span class="text-label">
		<span>{$label evaluacion_p sys_user }</span>
			</span>
	</span>
{END sys_user_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field13}
									{BEGIN cellblock_grid_headcell_field14}
	<th
	
	{$cell_grid_headcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluado_doc_class}	"

			data-field="evaluado_doc"
	
	data-cellId="grid_headcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluado_doc_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field44" {$item_simple_grid_field44} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluado_doc" data-fieldname="evaluado_doc" 

	
	
	>
	<span class="text-label">
		<span>{$label evaluacion_p evaluado_doc }</span>
			</span>
	</span>
{END evaluado_doc_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field14}
									{BEGIN cellblock_grid_headcell_field15}
	<th
	
	{$cell_grid_headcell_field15}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluado_nombre_class}	"

			data-field="evaluado_nombre"
	
	data-cellId="grid_headcell_field15" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluado_nombre_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field45" {$item_simple_grid_field45} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluado_nombre" data-fieldname="evaluado_nombre" 

	
	
	>
	<span class="text-label">
		<span>{$label evaluacion_p evaluado_nombre }</span>
			</span>
	</span>
{END evaluado_nombre_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field15}
									{BEGIN cellblock_grid_headcell_field16}
	<th
	
	{$cell_grid_headcell_field16}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluado_cargo_class}	"

			data-field="evaluado_cargo"
	
	data-cellId="grid_headcell_field16" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluado_cargo_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field46" {$item_simple_grid_field46} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluado_cargo" data-fieldname="evaluado_cargo" 

	
	
	>
	<span class="text-label">
		<span>{$label evaluacion_p evaluado_cargo }</span>
			</span>
	</span>
{END evaluado_cargo_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field16}
									{BEGIN cellblock_grid_headcell_field17}
	<th
	
	{$cell_grid_headcell_field17}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluado_email_class}	"

			data-field="evaluado_email"
	
	data-cellId="grid_headcell_field17" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluado_email_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field47" {$item_simple_grid_field47} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluado_email" data-fieldname="evaluado_email" 

	
	
	>
	<span class="text-label">
		<span>{$label evaluacion_p evaluado_email }</span>
			</span>
	</span>
{END evaluado_email_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field17}
									{BEGIN cellblock_grid_headcell_field18}
	<th
	
	{$cell_grid_headcell_field18}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluado_dep_sup_class}	"

			data-field="evaluado_dep_sup"
	
	data-cellId="grid_headcell_field18" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluado_dep_sup_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field48" {$item_simple_grid_field48} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluado_dep_sup" data-fieldname="evaluado_dep_sup" 

	
	
	>
	<span class="text-label">
		<span>{$label evaluacion_p evaluado_dep_sup }</span>
			</span>
	</span>
{END evaluado_dep_sup_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field18}
									{BEGIN cellblock_grid_headcell_field19}
	<th
	
	{$cell_grid_headcell_field19}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluado_dep_class}	"

			data-field="evaluado_dep"
	
	data-cellId="grid_headcell_field19" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluado_dep_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field49" {$item_simple_grid_field49} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluado_dep" data-fieldname="evaluado_dep" 

	
	
	>
	<span class="text-label">
		<span>{$label evaluacion_p evaluado_dep }</span>
			</span>
	</span>
{END evaluado_dep_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field19}
									{BEGIN cellblock_grid_headcell_field20}
	<th
	
	{$cell_grid_headcell_field20}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluado_nombramiento_class}	"

			data-field="evaluado_nombramiento"
	
	data-cellId="grid_headcell_field20" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluado_nombramiento_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field50" {$item_simple_grid_field50} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluado_nombramiento" data-fieldname="evaluado_nombramiento" 

	
	
	>
	<span class="text-label">
		<span>{$label evaluacion_p evaluado_nombramiento }</span>
			</span>
	</span>
{END evaluado_nombramiento_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field20}
									{BEGIN cellblock_grid_headcell_field21}
	<th
	
	{$cell_grid_headcell_field21}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluado_fechai_po_class}	"

			data-field="evaluado_fechai_po"
	
	data-cellId="grid_headcell_field21" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluado_fechai_po_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field51" {$item_simple_grid_field51} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluado_fechai_po" data-fieldname="evaluado_fechai_po" 

	
	
	>
	<span class="text-label">
		<span>{$label evaluacion_p evaluado_fechai_po }</span>
			</span>
	</span>
{END evaluado_fechai_po_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field21}
									{BEGIN cellblock_grid_headcell_field22}
	<th
	
	{$cell_grid_headcell_field22}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluado_fechaf_po_class}	"

			data-field="evaluado_fechaf_po"
	
	data-cellId="grid_headcell_field22" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluado_fechaf_po_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field52" {$item_simple_grid_field52} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluado_fechaf_po" data-fieldname="evaluado_fechaf_po" 

	
	
	>
	<span class="text-label">
		<span>{$label evaluacion_p evaluado_fechaf_po }</span>
			</span>
	</span>
{END evaluado_fechaf_po_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field22}
									{BEGIN cellblock_grid_headcell_field23}
	<th
	
	{$cell_grid_headcell_field23}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluador_doc_class}	"

			data-field="evaluador_doc"
	
	data-cellId="grid_headcell_field23" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluador_doc_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field53" {$item_simple_grid_field53} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluador_doc" data-fieldname="evaluador_doc" 

	
	
	>
	<span class="text-label">
		<span>{$label evaluacion_p evaluador_doc }</span>
			</span>
	</span>
{END evaluador_doc_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field23}
									{BEGIN cellblock_grid_headcell_field24}
	<th
	
	{$cell_grid_headcell_field24}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluador_nombre_class}	"

			data-field="evaluador_nombre"
	
	data-cellId="grid_headcell_field24" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluador_nombre_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field54" {$item_simple_grid_field54} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluador_nombre" data-fieldname="evaluador_nombre" 

	
	
	>
	<span class="text-label">
		<span>{$label evaluacion_p evaluador_nombre }</span>
			</span>
	</span>
{END evaluador_nombre_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field24}
									{BEGIN cellblock_grid_headcell_field25}
	<th
	
	{$cell_grid_headcell_field25}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluador_cargo_class}	"

			data-field="evaluador_cargo"
	
	data-cellId="grid_headcell_field25" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluador_cargo_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field55" {$item_simple_grid_field55} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluador_cargo" data-fieldname="evaluador_cargo" 

	
	
	>
	<span class="text-label">
		<span>{$label evaluacion_p evaluador_cargo }</span>
			</span>
	</span>
{END evaluador_cargo_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field25}
									{BEGIN cellblock_grid_headcell_field26}
	<th
	
	{$cell_grid_headcell_field26}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluador_email_class}	"

			data-field="evaluador_email"
	
	data-cellId="grid_headcell_field26" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluador_email_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field56" {$item_simple_grid_field56} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluador_email" data-fieldname="evaluador_email" 

	
	
	>
	<span class="text-label">
		<span>{$label evaluacion_p evaluador_email }</span>
			</span>
	</span>
{END evaluador_email_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field26}
									{BEGIN cellblock_grid_headcell_field27}
	<th
	
	{$cell_grid_headcell_field27}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluador_dep_sup_class}	"

			data-field="evaluador_dep_sup"
	
	data-cellId="grid_headcell_field27" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluador_dep_sup_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field57" {$item_simple_grid_field57} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluador_dep_sup" data-fieldname="evaluador_dep_sup" 

	
	
	>
	<span class="text-label">
		<span>{$label evaluacion_p evaluador_dep_sup }</span>
			</span>
	</span>
{END evaluador_dep_sup_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field27}
									{BEGIN cellblock_grid_headcell_field28}
	<th
	
	{$cell_grid_headcell_field28}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluador_dep_class}	"

			data-field="evaluador_dep"
	
	data-cellId="grid_headcell_field28" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluador_dep_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field58" {$item_simple_grid_field58} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluador_dep" data-fieldname="evaluador_dep" 

	
	
	>
	<span class="text-label">
		<span>{$label evaluacion_p evaluador_dep }</span>
			</span>
	</span>
{END evaluador_dep_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field28}
									{BEGIN cellblock_grid_headcell_field29}
	<th
	
	{$cell_grid_headcell_field29}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sys_date_class}	"

			data-field="sys_date"
	
	data-cellId="grid_headcell_field29" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sys_date_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field59" {$item_simple_grid_field59} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sys_date" data-fieldname="sys_date" 

	
	
	>
	<span class="text-label">
		<span>{$label evaluacion_p sys_date }</span>
			</span>
	</span>
{END sys_date_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field29}
							</tr>
															
					{END grid_header}
			</thead>
															<tbody>
					{BEGIN grid_row}
							
																														<tr {$rowattrs} {$row_grid_1} class="{$rowclass}
				
								r-gridrow
							">
									{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluacion_p_id_class}	"

			data-field="evaluacion_p_id"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluacion_p_id_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluacion_p_id" data-fieldname="evaluacion_p_id" data-default-width >
{$evaluacion_p_id_value}
</span>
{END evaluacion_p_id_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
									{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluacion_id_fk_class}	"

			data-field="evaluacion_id_fk"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluacion_id_fk_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluacion_id_fk" data-fieldname="evaluacion_id_fk" data-default-width >
{$evaluacion_id_fk_value}
</span>
{END evaluacion_id_fk_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
									{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$idEvaluado_class}	"

			data-field="idEvaluado"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN idEvaluado_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="idEvaluado" data-fieldname="idEvaluado" data-default-width >
{$idEvaluado_value}
</span>
{END idEvaluado_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
									{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$idEvaluador_class}	"

			data-field="idEvaluador"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN idEvaluador_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="idEvaluador" data-fieldname="idEvaluador" data-default-width >
{$idEvaluador_value}
</span>
{END idEvaluador_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
									{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$IdEvaluador_c_class}	"

			data-field="IdEvaluador_c"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN IdEvaluador_c_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="IdEvaluador_c" data-fieldname="IdEvaluador_c" data-default-width >
{$IdEvaluador_c_value}
</span>
{END IdEvaluador_c_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
									{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$IdEvaluador_d_class}	"

			data-field="IdEvaluador_d"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN IdEvaluador_d_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="IdEvaluador_d" data-fieldname="IdEvaluador_d" data-default-width >
{$IdEvaluador_d_value}
</span>
{END IdEvaluador_d_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
									{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$vigencia_class}	"

			data-field="vigencia"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN vigencia_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="vigencia" data-fieldname="vigencia" data-default-width >
{$vigencia_value}
</span>
{END vigencia_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
									{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$periodo_class}	"

			data-field="periodo"
	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN periodo_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="periodo" data-fieldname="periodo" data-default-width >
{$periodo_value}
</span>
{END periodo_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field7}
									{BEGIN cellblock_grid_cell_field8}
	<td
	
	{$cell_grid_cell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$fchCreacion_class}	"

			data-field="fchCreacion"
	
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN fchCreacion_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="fchCreacion" data-fieldname="fchCreacion" data-default-width >
{$fchCreacion_value}
</span>
{END fchCreacion_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field8}
									{BEGIN cellblock_grid_cell_field9}
	<td
	
	{$cell_grid_cell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$id_eval_vigencia_fk_class}	"

			data-field="id_eval_vigencia_fk"
	
	data-cellId="grid_cell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN id_eval_vigencia_fk_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="id_eval_vigencia_fk" data-fieldname="id_eval_vigencia_fk" data-default-width >
{$id_eval_vigencia_fk_value}
</span>
{END id_eval_vigencia_fk_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field9}
									{BEGIN cellblock_grid_cell_field10}
	<td
	
	{$cell_grid_cell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$fecha_po_i_class}	"

			data-field="fecha_po_i"
	
	data-cellId="grid_cell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN fecha_po_i_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="fecha_po_i" data-fieldname="fecha_po_i" data-default-width >
{$fecha_po_i_value}
</span>
{END fecha_po_i_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field10}
									{BEGIN cellblock_grid_cell_field11}
	<td
	
	{$cell_grid_cell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$fecha_po_f_class}	"

			data-field="fecha_po_f"
	
	data-cellId="grid_cell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN fecha_po_f_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="fecha_po_f" data-fieldname="fecha_po_f" data-default-width >
{$fecha_po_f_value}
</span>
{END fecha_po_f_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field11}
									{BEGIN cellblock_grid_cell_field12}
	<td
	
	{$cell_grid_cell_field12}
	{$recordattrs}
	class="
		 r-ori-vert		 {$estado_class}	"

			data-field="estado"
	
	data-cellId="grid_cell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN estado_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="estado" data-fieldname="estado" data-default-width >
{$estado_value}
</span>
{END estado_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field12}
									{BEGIN cellblock_grid_cell_field13}
	<td
	
	{$cell_grid_cell_field13}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sys_user_class}	"

			data-field="sys_user"
	
	data-cellId="grid_cell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sys_user_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sys_user" data-fieldname="sys_user" data-default-width >
{$sys_user_value}
</span>
{END sys_user_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field13}
									{BEGIN cellblock_grid_cell_field14}
	<td
	
	{$cell_grid_cell_field14}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluado_doc_class}	"

			data-field="evaluado_doc"
	
	data-cellId="grid_cell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluado_doc_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluado_doc" data-fieldname="evaluado_doc" data-default-width >
{$evaluado_doc_value}
</span>
{END evaluado_doc_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field14}
									{BEGIN cellblock_grid_cell_field15}
	<td
	
	{$cell_grid_cell_field15}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluado_nombre_class}	"

			data-field="evaluado_nombre"
	
	data-cellId="grid_cell_field15" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluado_nombre_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluado_nombre" data-fieldname="evaluado_nombre" data-default-width >
{$evaluado_nombre_value}
</span>
{END evaluado_nombre_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field15}
									{BEGIN cellblock_grid_cell_field16}
	<td
	
	{$cell_grid_cell_field16}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluado_cargo_class}	"

			data-field="evaluado_cargo"
	
	data-cellId="grid_cell_field16" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluado_cargo_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluado_cargo" data-fieldname="evaluado_cargo" data-default-width >
{$evaluado_cargo_value}
</span>
{END evaluado_cargo_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field16}
									{BEGIN cellblock_grid_cell_field17}
	<td
	
	{$cell_grid_cell_field17}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluado_email_class}	"

			data-field="evaluado_email"
	
	data-cellId="grid_cell_field17" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluado_email_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluado_email" data-fieldname="evaluado_email" data-default-width >
{$evaluado_email_value}
</span>
{END evaluado_email_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field17}
									{BEGIN cellblock_grid_cell_field18}
	<td
	
	{$cell_grid_cell_field18}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluado_dep_sup_class}	"

			data-field="evaluado_dep_sup"
	
	data-cellId="grid_cell_field18" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluado_dep_sup_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field18" {$item_simple_grid_field18} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluado_dep_sup" data-fieldname="evaluado_dep_sup" data-default-width >
{$evaluado_dep_sup_value}
</span>
{END evaluado_dep_sup_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field18}
									{BEGIN cellblock_grid_cell_field19}
	<td
	
	{$cell_grid_cell_field19}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluado_dep_class}	"

			data-field="evaluado_dep"
	
	data-cellId="grid_cell_field19" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluado_dep_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field19" {$item_simple_grid_field19} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluado_dep" data-fieldname="evaluado_dep" data-default-width >
{$evaluado_dep_value}
</span>
{END evaluado_dep_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field19}
									{BEGIN cellblock_grid_cell_field20}
	<td
	
	{$cell_grid_cell_field20}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluado_nombramiento_class}	"

			data-field="evaluado_nombramiento"
	
	data-cellId="grid_cell_field20" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluado_nombramiento_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field20" {$item_simple_grid_field20} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluado_nombramiento" data-fieldname="evaluado_nombramiento" data-default-width >
{$evaluado_nombramiento_value}
</span>
{END evaluado_nombramiento_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field20}
									{BEGIN cellblock_grid_cell_field21}
	<td
	
	{$cell_grid_cell_field21}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluado_fechai_po_class}	"

			data-field="evaluado_fechai_po"
	
	data-cellId="grid_cell_field21" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluado_fechai_po_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field21" {$item_simple_grid_field21} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluado_fechai_po" data-fieldname="evaluado_fechai_po" data-default-width >
{$evaluado_fechai_po_value}
</span>
{END evaluado_fechai_po_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field21}
									{BEGIN cellblock_grid_cell_field22}
	<td
	
	{$cell_grid_cell_field22}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluado_fechaf_po_class}	"

			data-field="evaluado_fechaf_po"
	
	data-cellId="grid_cell_field22" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluado_fechaf_po_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field22" {$item_simple_grid_field22} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluado_fechaf_po" data-fieldname="evaluado_fechaf_po" data-default-width >
{$evaluado_fechaf_po_value}
</span>
{END evaluado_fechaf_po_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field22}
									{BEGIN cellblock_grid_cell_field23}
	<td
	
	{$cell_grid_cell_field23}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluador_doc_class}	"

			data-field="evaluador_doc"
	
	data-cellId="grid_cell_field23" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluador_doc_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field23" {$item_simple_grid_field23} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluador_doc" data-fieldname="evaluador_doc" data-default-width >
{$evaluador_doc_value}
</span>
{END evaluador_doc_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field23}
									{BEGIN cellblock_grid_cell_field24}
	<td
	
	{$cell_grid_cell_field24}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluador_nombre_class}	"

			data-field="evaluador_nombre"
	
	data-cellId="grid_cell_field24" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluador_nombre_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field24" {$item_simple_grid_field24} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluador_nombre" data-fieldname="evaluador_nombre" data-default-width >
{$evaluador_nombre_value}
</span>
{END evaluador_nombre_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field24}
									{BEGIN cellblock_grid_cell_field25}
	<td
	
	{$cell_grid_cell_field25}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluador_cargo_class}	"

			data-field="evaluador_cargo"
	
	data-cellId="grid_cell_field25" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluador_cargo_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field25" {$item_simple_grid_field25} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluador_cargo" data-fieldname="evaluador_cargo" data-default-width >
{$evaluador_cargo_value}
</span>
{END evaluador_cargo_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field25}
									{BEGIN cellblock_grid_cell_field26}
	<td
	
	{$cell_grid_cell_field26}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluador_email_class}	"

			data-field="evaluador_email"
	
	data-cellId="grid_cell_field26" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluador_email_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field26" {$item_simple_grid_field26} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluador_email" data-fieldname="evaluador_email" data-default-width >
{$evaluador_email_value}
</span>
{END evaluador_email_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field26}
									{BEGIN cellblock_grid_cell_field27}
	<td
	
	{$cell_grid_cell_field27}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluador_dep_sup_class}	"

			data-field="evaluador_dep_sup"
	
	data-cellId="grid_cell_field27" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluador_dep_sup_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field27" {$item_simple_grid_field27} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluador_dep_sup" data-fieldname="evaluador_dep_sup" data-default-width >
{$evaluador_dep_sup_value}
</span>
{END evaluador_dep_sup_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field27}
									{BEGIN cellblock_grid_cell_field28}
	<td
	
	{$cell_grid_cell_field28}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluador_dep_class}	"

			data-field="evaluador_dep"
	
	data-cellId="grid_cell_field28" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN evaluador_dep_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field28" {$item_simple_grid_field28} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="evaluador_dep" data-fieldname="evaluador_dep" data-default-width >
{$evaluador_dep_value}
</span>
{END evaluador_dep_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field28}
									{BEGIN cellblock_grid_cell_field29}
	<td
	
	{$cell_grid_cell_field29}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sys_date_class}	"

			data-field="sys_date"
	
	data-cellId="grid_cell_field29" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN sys_date_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field29" {$item_simple_grid_field29} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="sys_date" data-fieldname="sys_date" data-default-width >
{$sys_date_value}
</span>
{END sys_date_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field29}
							</tr>
										
											{END grid_row}
					</tbody>
													<tfoot>
			
																																			<tr {$rowattrs} {$row_grid_2} class="{$rowclass}
									{$gridFooter_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluacion_p_id_class}	"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="evaluacion_p_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
									{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluacion_id_fk_class}	"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="evaluacion_p_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
									{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$idEvaluado_class}	"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="evaluacion_p_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
									{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$idEvaluador_class}	"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="evaluacion_p_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
									{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$IdEvaluador_c_class}	"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="evaluacion_p_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
									{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$IdEvaluador_d_class}	"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="evaluacion_p_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
									{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$vigencia_class}	"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="evaluacion_p_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
									{BEGIN cellblock_grid_footcell_field7}
	<td
	
	{$cell_grid_footcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$periodo_class}	"

	
	data-cellId="grid_footcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="evaluacion_p_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field7}
									{BEGIN cellblock_grid_footcell_field8}
	<td
	
	{$cell_grid_footcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$fchCreacion_class}	"

	
	data-cellId="grid_footcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="evaluacion_p_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field8}
									{BEGIN cellblock_grid_footcell_field9}
	<td
	
	{$cell_grid_footcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$id_eval_vigencia_fk_class}	"

	
	data-cellId="grid_footcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="evaluacion_p_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field9}
									{BEGIN cellblock_grid_footcell_field10}
	<td
	
	{$cell_grid_footcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$fecha_po_i_class}	"

	
	data-cellId="grid_footcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="evaluacion_p_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field10}
									{BEGIN cellblock_grid_footcell_field11}
	<td
	
	{$cell_grid_footcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$fecha_po_f_class}	"

	
	data-cellId="grid_footcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="evaluacion_p_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field11}
									{BEGIN cellblock_grid_footcell_field12}
	<td
	
	{$cell_grid_footcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert		 {$estado_class}	"

	
	data-cellId="grid_footcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="evaluacion_p_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field12}
									{BEGIN cellblock_grid_footcell_field13}
	<td
	
	{$cell_grid_footcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sys_user_class}	"

	
	data-cellId="grid_footcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="evaluacion_p_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field13}
									{BEGIN cellblock_grid_footcell_field14}
	<td
	
	{$cell_grid_footcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluado_doc_class}	"

	
	data-cellId="grid_footcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="evaluacion_p_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field14}
									{BEGIN cellblock_grid_footcell_field15}
	<td
	
	{$cell_grid_footcell_field15}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluado_nombre_class}	"

	
	data-cellId="grid_footcell_field15" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="evaluacion_p_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field15}
									{BEGIN cellblock_grid_footcell_field16}
	<td
	
	{$cell_grid_footcell_field16}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluado_cargo_class}	"

	
	data-cellId="grid_footcell_field16" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="evaluacion_p_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field16}
									{BEGIN cellblock_grid_footcell_field17}
	<td
	
	{$cell_grid_footcell_field17}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluado_email_class}	"

	
	data-cellId="grid_footcell_field17" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="evaluacion_p_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field17}
									{BEGIN cellblock_grid_footcell_field18}
	<td
	
	{$cell_grid_footcell_field18}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluado_dep_sup_class}	"

	
	data-cellId="grid_footcell_field18" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="evaluacion_p_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field18}
									{BEGIN cellblock_grid_footcell_field19}
	<td
	
	{$cell_grid_footcell_field19}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluado_dep_class}	"

	
	data-cellId="grid_footcell_field19" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="evaluacion_p_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field19}
									{BEGIN cellblock_grid_footcell_field20}
	<td
	
	{$cell_grid_footcell_field20}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluado_nombramiento_class}	"

	
	data-cellId="grid_footcell_field20" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="evaluacion_p_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field20}
									{BEGIN cellblock_grid_footcell_field21}
	<td
	
	{$cell_grid_footcell_field21}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluado_fechai_po_class}	"

	
	data-cellId="grid_footcell_field21" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="evaluacion_p_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field21}
									{BEGIN cellblock_grid_footcell_field22}
	<td
	
	{$cell_grid_footcell_field22}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluado_fechaf_po_class}	"

	
	data-cellId="grid_footcell_field22" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="evaluacion_p_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field22}
									{BEGIN cellblock_grid_footcell_field23}
	<td
	
	{$cell_grid_footcell_field23}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluador_doc_class}	"

	
	data-cellId="grid_footcell_field23" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="evaluacion_p_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field23}
									{BEGIN cellblock_grid_footcell_field24}
	<td
	
	{$cell_grid_footcell_field24}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluador_nombre_class}	"

	
	data-cellId="grid_footcell_field24" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="evaluacion_p_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field24}
									{BEGIN cellblock_grid_footcell_field25}
	<td
	
	{$cell_grid_footcell_field25}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluador_cargo_class}	"

	
	data-cellId="grid_footcell_field25" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="evaluacion_p_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field25}
									{BEGIN cellblock_grid_footcell_field26}
	<td
	
	{$cell_grid_footcell_field26}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluador_email_class}	"

	
	data-cellId="grid_footcell_field26" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="evaluacion_p_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field26}
									{BEGIN cellblock_grid_footcell_field27}
	<td
	
	{$cell_grid_footcell_field27}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluador_dep_sup_class}	"

	
	data-cellId="grid_footcell_field27" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="evaluacion_p_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field27}
									{BEGIN cellblock_grid_footcell_field28}
	<td
	
	{$cell_grid_footcell_field28}
	{$recordattrs}
	class="
		 r-ori-vert		 {$evaluador_dep_class}	"

	
	data-cellId="grid_footcell_field28" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="evaluacion_p_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field28}
									{BEGIN cellblock_grid_footcell_field29}
	<td
	
	{$cell_grid_footcell_field29}
	{$recordattrs}
	class="
		 r-ori-vert		 {$sys_date_class}	"

	
	data-cellId="grid_footcell_field29" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="evaluacion_p_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field29}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
								</div>
</div>
