<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel evaluacion_x005 search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id" data-fieldname="id" >


	<label class="r-search-label control-label" for="{$labelfor_id}">
		{$label evaluacion_x005 id }	</label>
	<div class="r-search-option">
		{$searchtype_id}
	</div>
	<div class="r-search-field">
		{$id_editcontrol}	</div>
	<div class="r-search-field">
		{$id_editcontrol1}
	</div>
	
</div>

{END id_fieldblock}
											
{BEGIN idEvaluado_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_idEvaluado}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="idEvaluado{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="idEvaluado" data-fieldname="idEvaluado" >


	<label class="r-search-label control-label" for="{$labelfor_idEvaluado}">
		{$label evaluacion_x005 idEvaluado }	</label>
	<div class="r-search-option">
		{$searchtype_idEvaluado}
	</div>
	<div class="r-search-field">
		{$idEvaluado_editcontrol}	</div>
	<div class="r-search-field">
		{$idEvaluado_editcontrol1}
	</div>
	
</div>

{END idEvaluado_fieldblock}
											
{BEGIN idEvaluador_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_idEvaluador}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="idEvaluador{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="idEvaluador" data-fieldname="idEvaluador" >


	<label class="r-search-label control-label" for="{$labelfor_idEvaluador}">
		{$label evaluacion_x005 idEvaluador }	</label>
	<div class="r-search-option">
		{$searchtype_idEvaluador}
	</div>
	<div class="r-search-field">
		{$idEvaluador_editcontrol}	</div>
	<div class="r-search-field">
		{$idEvaluador_editcontrol1}
	</div>
	
</div>

{END idEvaluador_fieldblock}
											
{BEGIN IdEvaluador_c_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_IdEvaluador_c}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="IdEvaluador_c{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="IdEvaluador_c" data-fieldname="IdEvaluador_c" >


	<label class="r-search-label control-label" for="{$labelfor_IdEvaluador_c}">
		{$label evaluacion_x005 IdEvaluador_c }	</label>
	<div class="r-search-option">
		{$searchtype_IdEvaluador_c}
	</div>
	<div class="r-search-field">
		{$IdEvaluador_c_editcontrol}	</div>
	<div class="r-search-field">
		{$IdEvaluador_c_editcontrol1}
	</div>
	
</div>

{END IdEvaluador_c_fieldblock}
											
{BEGIN IdEvaluador_d_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_IdEvaluador_d}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="IdEvaluador_d{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="IdEvaluador_d" data-fieldname="IdEvaluador_d" >


	<label class="r-search-label control-label" for="{$labelfor_IdEvaluador_d}">
		{$label evaluacion_x005 IdEvaluador_d }	</label>
	<div class="r-search-option">
		{$searchtype_IdEvaluador_d}
	</div>
	<div class="r-search-field">
		{$IdEvaluador_d_editcontrol}	</div>
	<div class="r-search-field">
		{$IdEvaluador_d_editcontrol1}
	</div>
	
</div>

{END IdEvaluador_d_fieldblock}
											
{BEGIN vigencia_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_vigencia}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="vigencia{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="vigencia" data-fieldname="vigencia" >


	<label class="r-search-label control-label" for="{$labelfor_vigencia}">
		{$label evaluacion_x005 vigencia }	</label>
	<div class="r-search-option">
		{$searchtype_vigencia}
	</div>
	<div class="r-search-field">
		{$vigencia_editcontrol}	</div>
	<div class="r-search-field">
		{$vigencia_editcontrol1}
	</div>
	
</div>

{END vigencia_fieldblock}
											
{BEGIN periodo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_periodo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="periodo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="periodo" data-fieldname="periodo" >


	<label class="r-search-label control-label" for="{$labelfor_periodo}">
		{$label evaluacion_x005 periodo }	</label>
	<div class="r-search-option">
		{$searchtype_periodo}
	</div>
	<div class="r-search-field">
		{$periodo_editcontrol}	</div>
	<div class="r-search-field">
		{$periodo_editcontrol1}
	</div>
	
</div>

{END periodo_fieldblock}
											
{BEGIN fchCreacion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fchCreacion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="fchCreacion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="fchCreacion" data-fieldname="fchCreacion" >


	<label class="r-search-label control-label" for="{$labelfor_fchCreacion}">
		{$label evaluacion_x005 fchCreacion }	</label>
	<div class="r-search-option">
		{$searchtype_fchCreacion}
	</div>
	<div class="r-search-field">
		{$fchCreacion_editcontrol}	</div>
	<div class="r-search-field">
		{$fchCreacion_editcontrol1}
	</div>
	
</div>

{END fchCreacion_fieldblock}
											
{BEGIN fchEdefinitiva_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fchEdefinitiva}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="fchEdefinitiva{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="fchEdefinitiva" data-fieldname="fchEdefinitiva" >


	<label class="r-search-label control-label" for="{$labelfor_fchEdefinitiva}">
		{$label evaluacion_x005 fchEdefinitiva }	</label>
	<div class="r-search-option">
		{$searchtype_fchEdefinitiva}
	</div>
	<div class="r-search-field">
		{$fchEdefinitiva_editcontrol}	</div>
	<div class="r-search-field">
		{$fchEdefinitiva_editcontrol1}
	</div>
	
</div>

{END fchEdefinitiva_fieldblock}
											
{BEGIN estado_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_estado}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="estado{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="estado" data-fieldname="estado" >


	<label class="r-search-label control-label" for="{$labelfor_estado}">
		{$label evaluacion_x005 estado }	</label>
	<div class="r-search-option">
		{$searchtype_estado}
	</div>
	<div class="r-search-field">
		{$estado_editcontrol}	</div>
	<div class="r-search-field">
		{$estado_editcontrol1}
	</div>
	
</div>

{END estado_fieldblock}
											
{BEGIN email_not_cierre_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_email_not_cierre}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="email_not_cierre{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="email_not_cierre" data-fieldname="email_not_cierre" >


	<label class="r-search-label control-label" for="{$labelfor_email_not_cierre}">
		{$label evaluacion_x005 email_not_cierre }	</label>
	<div class="r-search-option">
		{$searchtype_email_not_cierre}
	</div>
	<div class="r-search-field">
		{$email_not_cierre_editcontrol}	</div>
	<div class="r-search-field">
		{$email_not_cierre_editcontrol1}
	</div>
	
</div>

{END email_not_cierre_fieldblock}
											
{BEGIN fecha_not_cierre_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_not_cierre}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="fecha_not_cierre{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="fecha_not_cierre" data-fieldname="fecha_not_cierre" >


	<label class="r-search-label control-label" for="{$labelfor_fecha_not_cierre}">
		{$label evaluacion_x005 fecha_not_cierre }	</label>
	<div class="r-search-option">
		{$searchtype_fecha_not_cierre}
	</div>
	<div class="r-search-field">
		{$fecha_not_cierre_editcontrol}	</div>
	<div class="r-search-field">
		{$fecha_not_cierre_editcontrol1}
	</div>
	
</div>

{END fecha_not_cierre_fieldblock}
											
{BEGIN sys_user_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_user}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sys_user{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="sys_user" data-fieldname="sys_user" >


	<label class="r-search-label control-label" for="{$labelfor_sys_user}">
		{$label evaluacion_x005 sys_user }	</label>
	<div class="r-search-option">
		{$searchtype_sys_user}
	</div>
	<div class="r-search-field">
		{$sys_user_editcontrol}	</div>
	<div class="r-search-field">
		{$sys_user_editcontrol1}
	</div>
	
</div>

{END sys_user_fieldblock}
											
{BEGIN evaluado_doc_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_evaluado_doc}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="evaluado_doc{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="evaluado_doc" data-fieldname="evaluado_doc" >


	<label class="r-search-label control-label" for="{$labelfor_evaluado_doc}">
		{$label evaluacion_x005 evaluado_doc }	</label>
	<div class="r-search-option">
		{$searchtype_evaluado_doc}
	</div>
	<div class="r-search-field">
		{$evaluado_doc_editcontrol}	</div>
	<div class="r-search-field">
		{$evaluado_doc_editcontrol1}
	</div>
	
</div>

{END evaluado_doc_fieldblock}
											
{BEGIN evaluado_nombre_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_evaluado_nombre}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="evaluado_nombre{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="evaluado_nombre" data-fieldname="evaluado_nombre" >


	<label class="r-search-label control-label" for="{$labelfor_evaluado_nombre}">
		{$label evaluacion_x005 evaluado_nombre }	</label>
	<div class="r-search-option">
		{$searchtype_evaluado_nombre}
	</div>
	<div class="r-search-field">
		{$evaluado_nombre_editcontrol}	</div>
	<div class="r-search-field">
		{$evaluado_nombre_editcontrol1}
	</div>
	
</div>

{END evaluado_nombre_fieldblock}
											
{BEGIN evaluado_cargo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_evaluado_cargo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="evaluado_cargo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="evaluado_cargo" data-fieldname="evaluado_cargo" >


	<label class="r-search-label control-label" for="{$labelfor_evaluado_cargo}">
		{$label evaluacion_x005 evaluado_cargo }	</label>
	<div class="r-search-option">
		{$searchtype_evaluado_cargo}
	</div>
	<div class="r-search-field">
		{$evaluado_cargo_editcontrol}	</div>
	<div class="r-search-field">
		{$evaluado_cargo_editcontrol1}
	</div>
	
</div>

{END evaluado_cargo_fieldblock}
											
{BEGIN evaluado_email_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_evaluado_email}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="evaluado_email{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="evaluado_email" data-fieldname="evaluado_email" >


	<label class="r-search-label control-label" for="{$labelfor_evaluado_email}">
		{$label evaluacion_x005 evaluado_email }	</label>
	<div class="r-search-option">
		{$searchtype_evaluado_email}
	</div>
	<div class="r-search-field">
		{$evaluado_email_editcontrol}	</div>
	<div class="r-search-field">
		{$evaluado_email_editcontrol1}
	</div>
	
</div>

{END evaluado_email_fieldblock}
											
{BEGIN evaluado_dep_sup_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_evaluado_dep_sup}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="evaluado_dep_sup{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="evaluado_dep_sup" data-fieldname="evaluado_dep_sup" >


	<label class="r-search-label control-label" for="{$labelfor_evaluado_dep_sup}">
		{$label evaluacion_x005 evaluado_dep_sup }	</label>
	<div class="r-search-option">
		{$searchtype_evaluado_dep_sup}
	</div>
	<div class="r-search-field">
		{$evaluado_dep_sup_editcontrol}	</div>
	<div class="r-search-field">
		{$evaluado_dep_sup_editcontrol1}
	</div>
	
</div>

{END evaluado_dep_sup_fieldblock}
											
{BEGIN evaluado_dep_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_evaluado_dep}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="evaluado_dep{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="evaluado_dep" data-fieldname="evaluado_dep" >


	<label class="r-search-label control-label" for="{$labelfor_evaluado_dep}">
		{$label evaluacion_x005 evaluado_dep }	</label>
	<div class="r-search-option">
		{$searchtype_evaluado_dep}
	</div>
	<div class="r-search-field">
		{$evaluado_dep_editcontrol}	</div>
	<div class="r-search-field">
		{$evaluado_dep_editcontrol1}
	</div>
	
</div>

{END evaluado_dep_fieldblock}
											
{BEGIN evaluado_nombramiento_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_evaluado_nombramiento}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="evaluado_nombramiento{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="evaluado_nombramiento" data-fieldname="evaluado_nombramiento" >


	<label class="r-search-label control-label" for="{$labelfor_evaluado_nombramiento}">
		{$label evaluacion_x005 evaluado_nombramiento }	</label>
	<div class="r-search-option">
		{$searchtype_evaluado_nombramiento}
	</div>
	<div class="r-search-field">
		{$evaluado_nombramiento_editcontrol}	</div>
	<div class="r-search-field">
		{$evaluado_nombramiento_editcontrol1}
	</div>
	
</div>

{END evaluado_nombramiento_fieldblock}
											
{BEGIN evaluado_fechai_po_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_evaluado_fechai_po}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="evaluado_fechai_po{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="evaluado_fechai_po" data-fieldname="evaluado_fechai_po" >


	<label class="r-search-label control-label" for="{$labelfor_evaluado_fechai_po}">
		{$label evaluacion_x005 evaluado_fechai_po }	</label>
	<div class="r-search-option">
		{$searchtype_evaluado_fechai_po}
	</div>
	<div class="r-search-field">
		{$evaluado_fechai_po_editcontrol}	</div>
	<div class="r-search-field">
		{$evaluado_fechai_po_editcontrol1}
	</div>
	
</div>

{END evaluado_fechai_po_fieldblock}
											
{BEGIN evaluado_fechaf_po_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_evaluado_fechaf_po}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="evaluado_fechaf_po{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="evaluado_fechaf_po" data-fieldname="evaluado_fechaf_po" >


	<label class="r-search-label control-label" for="{$labelfor_evaluado_fechaf_po}">
		{$label evaluacion_x005 evaluado_fechaf_po }	</label>
	<div class="r-search-option">
		{$searchtype_evaluado_fechaf_po}
	</div>
	<div class="r-search-field">
		{$evaluado_fechaf_po_editcontrol}	</div>
	<div class="r-search-field">
		{$evaluado_fechaf_po_editcontrol1}
	</div>
	
</div>

{END evaluado_fechaf_po_fieldblock}
											
{BEGIN evaluado_fechai_pp_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_evaluado_fechai_pp}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="evaluado_fechai_pp{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="evaluado_fechai_pp" data-fieldname="evaluado_fechai_pp" >


	<label class="r-search-label control-label" for="{$labelfor_evaluado_fechai_pp}">
		{$label evaluacion_x005 evaluado_fechai_pp }	</label>
	<div class="r-search-option">
		{$searchtype_evaluado_fechai_pp}
	</div>
	<div class="r-search-field">
		{$evaluado_fechai_pp_editcontrol}	</div>
	<div class="r-search-field">
		{$evaluado_fechai_pp_editcontrol1}
	</div>
	
</div>

{END evaluado_fechai_pp_fieldblock}
											
{BEGIN evaluado_fechaf_pp_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_evaluado_fechaf_pp}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="evaluado_fechaf_pp{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="evaluado_fechaf_pp" data-fieldname="evaluado_fechaf_pp" >


	<label class="r-search-label control-label" for="{$labelfor_evaluado_fechaf_pp}">
		{$label evaluacion_x005 evaluado_fechaf_pp }	</label>
	<div class="r-search-option">
		{$searchtype_evaluado_fechaf_pp}
	</div>
	<div class="r-search-field">
		{$evaluado_fechaf_pp_editcontrol}	</div>
	<div class="r-search-field">
		{$evaluado_fechaf_pp_editcontrol1}
	</div>
	
</div>

{END evaluado_fechaf_pp_fieldblock}
											
{BEGIN evaluador_doc_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_evaluador_doc}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="evaluador_doc{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="evaluador_doc" data-fieldname="evaluador_doc" >


	<label class="r-search-label control-label" for="{$labelfor_evaluador_doc}">
		{$label evaluacion_x005 evaluador_doc }	</label>
	<div class="r-search-option">
		{$searchtype_evaluador_doc}
	</div>
	<div class="r-search-field">
		{$evaluador_doc_editcontrol}	</div>
	<div class="r-search-field">
		{$evaluador_doc_editcontrol1}
	</div>
	
</div>

{END evaluador_doc_fieldblock}
											
{BEGIN evaluador_nombre_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_evaluador_nombre}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="evaluador_nombre{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="evaluador_nombre" data-fieldname="evaluador_nombre" >


	<label class="r-search-label control-label" for="{$labelfor_evaluador_nombre}">
		{$label evaluacion_x005 evaluador_nombre }	</label>
	<div class="r-search-option">
		{$searchtype_evaluador_nombre}
	</div>
	<div class="r-search-field">
		{$evaluador_nombre_editcontrol}	</div>
	<div class="r-search-field">
		{$evaluador_nombre_editcontrol1}
	</div>
	
</div>

{END evaluador_nombre_fieldblock}
											
{BEGIN evaluador_cargo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_evaluador_cargo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="evaluador_cargo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="evaluador_cargo" data-fieldname="evaluador_cargo" >


	<label class="r-search-label control-label" for="{$labelfor_evaluador_cargo}">
		{$label evaluacion_x005 evaluador_cargo }	</label>
	<div class="r-search-option">
		{$searchtype_evaluador_cargo}
	</div>
	<div class="r-search-field">
		{$evaluador_cargo_editcontrol}	</div>
	<div class="r-search-field">
		{$evaluador_cargo_editcontrol1}
	</div>
	
</div>

{END evaluador_cargo_fieldblock}
											
{BEGIN evaluador_email_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_evaluador_email}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="evaluador_email{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="evaluador_email" data-fieldname="evaluador_email" >


	<label class="r-search-label control-label" for="{$labelfor_evaluador_email}">
		{$label evaluacion_x005 evaluador_email }	</label>
	<div class="r-search-option">
		{$searchtype_evaluador_email}
	</div>
	<div class="r-search-field">
		{$evaluador_email_editcontrol}	</div>
	<div class="r-search-field">
		{$evaluador_email_editcontrol1}
	</div>
	
</div>

{END evaluador_email_fieldblock}
											
{BEGIN evaluador_dep_sup_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_evaluador_dep_sup}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="evaluador_dep_sup{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="evaluador_dep_sup" data-fieldname="evaluador_dep_sup" >


	<label class="r-search-label control-label" for="{$labelfor_evaluador_dep_sup}">
		{$label evaluacion_x005 evaluador_dep_sup }	</label>
	<div class="r-search-option">
		{$searchtype_evaluador_dep_sup}
	</div>
	<div class="r-search-field">
		{$evaluador_dep_sup_editcontrol}	</div>
	<div class="r-search-field">
		{$evaluador_dep_sup_editcontrol1}
	</div>
	
</div>

{END evaluador_dep_sup_fieldblock}
											
{BEGIN evaluador_dep_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_evaluador_dep}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="evaluador_dep{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="evaluador_dep" data-fieldname="evaluador_dep" >


	<label class="r-search-label control-label" for="{$labelfor_evaluador_dep}">
		{$label evaluacion_x005 evaluador_dep }	</label>
	<div class="r-search-option">
		{$searchtype_evaluador_dep}
	</div>
	<div class="r-search-field">
		{$evaluador_dep_editcontrol}	</div>
	<div class="r-search-field">
		{$evaluador_dep_editcontrol1}
	</div>
	
</div>

{END evaluador_dep_fieldblock}
											
{BEGIN sys_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sys_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="sys_date" data-fieldname="sys_date" >


	<label class="r-search-label control-label" for="{$labelfor_sys_date}">
		{$label evaluacion_x005 sys_date }	</label>
	<div class="r-search-option">
		{$searchtype_sys_date}
	</div>
	<div class="r-search-field">
		{$sys_date_editcontrol}	</div>
	<div class="r-search-field">
		{$sys_date_editcontrol1}
	</div>
	
</div>

{END sys_date_fieldblock}
											
{BEGIN evaluador_nombramiento_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_evaluador_nombramiento}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="evaluador_nombramiento{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field31" {$item_integrated_search_field31} data-pageid="{$pageid}" data-field="evaluador_nombramiento" data-fieldname="evaluador_nombramiento" >


	<label class="r-search-label control-label" for="{$labelfor_evaluador_nombramiento}">
		{$label evaluacion_x005 evaluador_nombramiento }	</label>
	<div class="r-search-option">
		{$searchtype_evaluador_nombramiento}
	</div>
	<div class="r-search-field">
		{$evaluador_nombramiento_editcontrol}	</div>
	<div class="r-search-field">
		{$evaluador_nombramiento_editcontrol1}
	</div>
	
</div>

{END evaluador_nombramiento_fieldblock}
											
{BEGIN valor_funcional_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_valor_funcional}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="valor_funcional{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field32" {$item_integrated_search_field32} data-pageid="{$pageid}" data-field="valor_funcional" data-fieldname="valor_funcional" >


	<label class="r-search-label control-label" for="{$labelfor_valor_funcional}">
		{$label evaluacion_x005 valor_funcional }	</label>
	<div class="r-search-option">
		{$searchtype_valor_funcional}
	</div>
	<div class="r-search-field">
		{$valor_funcional_editcontrol}	</div>
	<div class="r-search-field">
		{$valor_funcional_editcontrol1}
	</div>
	
</div>

{END valor_funcional_fieldblock}
											
{BEGIN valor_programado_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_valor_programado}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="valor_programado{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field33" {$item_integrated_search_field33} data-pageid="{$pageid}" data-field="valor_programado" data-fieldname="valor_programado" >


	<label class="r-search-label control-label" for="{$labelfor_valor_programado}">
		{$label evaluacion_x005 valor_programado }	</label>
	<div class="r-search-option">
		{$searchtype_valor_programado}
	</div>
	<div class="r-search-field">
		{$valor_programado_editcontrol}	</div>
	<div class="r-search-field">
		{$valor_programado_editcontrol1}
	</div>
	
</div>

{END valor_programado_fieldblock}
											
{BEGIN valor_pendiente_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_valor_pendiente}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="valor_pendiente{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field34" {$item_integrated_search_field34} data-pageid="{$pageid}" data-field="valor_pendiente" data-fieldname="valor_pendiente" >


	<label class="r-search-label control-label" for="{$labelfor_valor_pendiente}">
		{$label evaluacion_x005 valor_pendiente }	</label>
	<div class="r-search-option">
		{$searchtype_valor_pendiente}
	</div>
	<div class="r-search-field">
		{$valor_pendiente_editcontrol}	</div>
	<div class="r-search-field">
		{$valor_pendiente_editcontrol1}
	</div>
	
</div>

{END valor_pendiente_fieldblock}
											
{BEGIN id_comportamental_fk_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_comportamental_fk}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_comportamental_fk{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field35" {$item_integrated_search_field35} data-pageid="{$pageid}" data-field="id_comportamental_fk" data-fieldname="id_comportamental_fk" >


	<label class="r-search-label control-label" for="{$labelfor_id_comportamental_fk}">
		{$label evaluacion_x005 id_comportamental_fk }	</label>
	<div class="r-search-option">
		{$searchtype_id_comportamental_fk}
	</div>
	<div class="r-search-field">
		{$id_comportamental_fk_editcontrol}	</div>
	<div class="r-search-field">
		{$id_comportamental_fk_editcontrol1}
	</div>
	
</div>

{END id_comportamental_fk_fieldblock}
											
{BEGIN valor_comun_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_valor_comun}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="valor_comun{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field36" {$item_integrated_search_field36} data-pageid="{$pageid}" data-field="valor_comun" data-fieldname="valor_comun" >


	<label class="r-search-label control-label" for="{$labelfor_valor_comun}">
		{$label evaluacion_x005 valor_comun }	</label>
	<div class="r-search-option">
		{$searchtype_valor_comun}
	</div>
	<div class="r-search-field">
		{$valor_comun_editcontrol}	</div>
	<div class="r-search-field">
		{$valor_comun_editcontrol1}
	</div>
	
</div>

{END valor_comun_fieldblock}
											
{BEGIN valor_jerarquico_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_valor_jerarquico}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="valor_jerarquico{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field37" {$item_integrated_search_field37} data-pageid="{$pageid}" data-field="valor_jerarquico" data-fieldname="valor_jerarquico" >


	<label class="r-search-label control-label" for="{$labelfor_valor_jerarquico}">
		{$label evaluacion_x005 valor_jerarquico }	</label>
	<div class="r-search-option">
		{$searchtype_valor_jerarquico}
	</div>
	<div class="r-search-field">
		{$valor_jerarquico_editcontrol}	</div>
	<div class="r-search-field">
		{$valor_jerarquico_editcontrol1}
	</div>
	
</div>

{END valor_jerarquico_fieldblock}
											
{BEGIN valor_total_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_valor_total}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="valor_total{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field38" {$item_integrated_search_field38} data-pageid="{$pageid}" data-field="valor_total" data-fieldname="valor_total" >


	<label class="r-search-label control-label" for="{$labelfor_valor_total}">
		{$label evaluacion_x005 valor_total }	</label>
	<div class="r-search-option">
		{$searchtype_valor_total}
	</div>
	<div class="r-search-field">
		{$valor_total_editcontrol}	</div>
	<div class="r-search-field">
		{$valor_total_editcontrol1}
	</div>
	
</div>

{END valor_total_fieldblock}
											
{BEGIN idEvaluadorFinal_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_idEvaluadorFinal}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="idEvaluadorFinal{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field39" {$item_integrated_search_field39} data-pageid="{$pageid}" data-field="idEvaluadorFinal" data-fieldname="idEvaluadorFinal" >


	<label class="r-search-label control-label" for="{$labelfor_idEvaluadorFinal}">
		{$label evaluacion_x005 idEvaluadorFinal }	</label>
	<div class="r-search-option">
		{$searchtype_idEvaluadorFinal}
	</div>
	<div class="r-search-field">
		{$idEvaluadorFinal_editcontrol}	</div>
	<div class="r-search-field">
		{$idEvaluadorFinal_editcontrol1}
	</div>
	
</div>

{END idEvaluadorFinal_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
