<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel q_caldef_p_x005_evaluador search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN idEvaluado_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_idEvaluado}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="idEvaluado{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="idEvaluado" data-fieldname="idEvaluado" >


	<label class="r-search-label control-label" for="{$labelfor_idEvaluado}">
		{$label q_caldef_p_x005_evaluador idEvaluado }	</label>
	<div class="r-search-option">
		{$searchtype_idEvaluado}
	</div>
	<div class="r-search-field">
		{$idEvaluado_editcontrol}	</div>
	<div class="r-search-field">
		{$idEvaluado_editcontrol1}
	</div>
	
</div>

{END idEvaluado_fieldblock}
											
{BEGIN vigencia_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_vigencia}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="vigencia{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="vigencia" data-fieldname="vigencia" >


	<label class="r-search-label control-label" for="{$labelfor_vigencia}">
		{$label q_caldef_p_x005_evaluador vigencia }	</label>
	<div class="r-search-option">
		{$searchtype_vigencia}
	</div>
	<div class="r-search-field">
		{$vigencia_editcontrol}	</div>
	<div class="r-search-field">
		{$vigencia_editcontrol1}
	</div>
	
</div>

{END vigencia_fieldblock}
											
{BEGIN evaluacionesprocesadas_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_evaluacionesprocesadas}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="evaluacionesprocesadas{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="evaluacionesprocesadas" data-fieldname="evaluacionesprocesadas" >


	<label class="r-search-label control-label" for="{$labelfor_evaluacionesprocesadas}">
		{$label q_caldef_p_x005_evaluador evaluacionesprocesadas }	</label>
	<div class="r-search-option">
		{$searchtype_evaluacionesprocesadas}
	</div>
	<div class="r-search-field">
		{$evaluacionesprocesadas_editcontrol}	</div>
	<div class="r-search-field">
		{$evaluacionesprocesadas_editcontrol1}
	</div>
	
</div>

{END evaluacionesprocesadas_fieldblock}
											
{BEGIN caldefinitiva_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_caldefinitiva}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="caldefinitiva{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="caldefinitiva" data-fieldname="caldefinitiva" >


	<label class="r-search-label control-label" for="{$labelfor_caldefinitiva}">
		{$label q_caldef_p_x005_evaluador caldefinitiva }	</label>
	<div class="r-search-option">
		{$searchtype_caldefinitiva}
	</div>
	<div class="r-search-field">
		{$caldefinitiva_editcontrol}	</div>
	<div class="r-search-field">
		{$caldefinitiva_editcontrol1}
	</div>
	
</div>

{END caldefinitiva_fieldblock}
											
{BEGIN nivel_cumplimiento_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nivel_cumplimiento}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nivel_cumplimiento{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="nivel_cumplimiento" data-fieldname="nivel_cumplimiento" >


	<label class="r-search-label control-label" for="{$labelfor_nivel_cumplimiento}">
		{$label q_caldef_p_x005_evaluador nivel_cumplimiento }	</label>
	<div class="r-search-option">
		{$searchtype_nivel_cumplimiento}
	</div>
	<div class="r-search-field">
		{$nivel_cumplimiento_editcontrol}	</div>
	<div class="r-search-field">
		{$nivel_cumplimiento_editcontrol1}
	</div>
	
</div>

{END nivel_cumplimiento_fieldblock}
											
{BEGIN idEvaluador_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_idEvaluador}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="idEvaluador{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="idEvaluador" data-fieldname="idEvaluador" >


	<label class="r-search-label control-label" for="{$labelfor_idEvaluador}">
		{$label q_caldef_p_x005_evaluador idEvaluador }	</label>
	<div class="r-search-option">
		{$searchtype_idEvaluador}
	</div>
	<div class="r-search-field">
		{$idEvaluador_editcontrol}	</div>
	<div class="r-search-field">
		{$idEvaluador_editcontrol1}
	</div>
	
</div>

{END idEvaluador_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
